{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<nav class="navbar">
    <div class="container navbar_space">
        <ul class="menu logo">
            <li>
                <a href="{% url 'gallery_list' %}">Gallery</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'photo_create' %}">Add Photo</a>
            </li>
            {% endif %}
            <li>
                {% block navbar %}{% endblock %}
            </li>
        </ul>
        <ul class="menu link">
            {% if user.is_authenticated %}
            <li>
                <form action="#" method="post">
                    {% csrf_token %}
                    <input class="button_login" type="submit" value="выйти">
                </form>
            </li>
            {% else %}
            <li>
                <a href="#">Войти</a>
            </li>
            <li>
                <a href="#">Зарегистрироваться</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
<div class="bottom_indent"></div>
{% block script %}{% endblock %}
</body>
</html>