*{
    margin: 0;
    padding: 0;
}
body{
    margin-top: 60px;
    background: white;
    font-size: 25px;
    color: black;
    background: #616161;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
.navbar{
    display: block;
    background: OrangeRed;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 7px 30px;
}
.navbar_space{
    display: flex;
    justify-content: space-between;
}
.menu{
    font-size: 14px;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: black;
}
.menu li {
    display: inline-block;
}
.menu a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
}
.menu a:hover {
    color: black;
    text-decoration: underline;
}
.logo{
    font-size: 30px;
}
.photo{
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    background: Moccasin;
}
.photo_img{
    width: 400px;
    height: 300px;
}
.photo_img_block{
    display: inline-block;
}
.photo_info_block{
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
}
.bottom_indent{
    margin-bottom: 100px;
}
